<head>
    <script src=sound2.js></script>
    <p>Audio test</p>
</head>
<body>
    <p><a href="#" id="startLink">Start listening</a></p>
    <p><a href="#" id="stopLink">Stop</a></p>
    <p><a href="#" id="playLink">Play</a></p>
    <audio id="audioPlayer" controls></audio>
</body>Player