<head>
    <meta charset="utf-8" />
    <script src=sound.js></script>
    <p>Audio test</p>
</head>
<body>
    <p><a href="#" id="startLink">Start listening</a></p>
    <p><a href="#" id="stopLink">Stop</a></p>
    <p><a href="#" id="playLink">Play</a></p>
    <audio id="audioPlayer"></audio>
    
    <canvas id="audioCanv" width="500" height ="500">
        
    </canvas>
    
</body>